<div class="product-detail-container">
  <dx-button class="back" (onClick)="back()">BACK TO THE LIST</dx-button>
  <div class="product-detail-content">
    <app-product-title [selectedProduct]="selectedProduct"/>

    <app-product-description [selectedProduct]="selectedProduct"/>

    <app-operating-system-details [operatingSystem]="selectedProduct?.operatingSystem" />

    <div *ngIf="selectedProduct?.requiredProducts" >
      <h6>WYMAGANE PRODUKTY</h6>
      <app-products-cards
        [products]="listOfProducts">
      </app-products-cards>
    </div>
  </div>
</div>
