<div class="product-description">{{selectedProduct?.description}}</div>
<div class="details-accordions-container">
  <ng-template  [ngIf]="dataSource">
    <dx-accordion
      [dataSource]="dataSource"
      [collapsible]="true"
      [animationDuration]="450"
      [selectedItems]="[]"
      width="350px"
      itemTemplate="item"
      itemTitleTemplate="WYŚWIETL DOSTĘPNE WARIANTY" >
      <div *dxTemplate="let variant of 'item'">
        <li *ngFor="let variant of selectedProduct?.variants; index as i;">
          <span class="label--red">{{variant.variantName}} </span>  | {{variant.maxNumberOfUsers}} użytkowników
        </li>
      </div>
    </dx-accordion>
  </ng-template>
  <ng-template [ngIf]="packetSource">
    <dx-accordion
      [dataSource]="packetSource"
      [collapsible]="true"
      [selectedItems]="[]"
      [animationDuration]="450"
      width="350px"
      itemTemplate="item"
      itemTitleTemplate="WYŚWIETL DOSTĘPNE PAKIETY" >
      <div *dxTemplate="let variant of 'item'">
        <li *ngFor="let packet of selectedProduct?.packets; index as i;" class="label--red">
          {{packet.packetName}}
        </li>
      </div>
    </dx-accordion>
  </ng-template >
  <ng-template [ngIf]="versionSource">
    <dx-accordion
      [dataSource]="versionSource"
      [collapsible]="true"
      [animationDuration]="450"
      [selectedItems]="[]"
      width="350px"
      itemTemplate="item"
      itemTitleTemplate="WYŚWIETL DOSTĘPNE WERSJE" >
      <div *dxTemplate="let variant of 'item'">
        <li *ngFor="let variant of selectedProduct?.versions; index as i;">
          <span class="label--red"> {{variant.versionNumber}} </span> | {{variant.releaseDate | date}}
        </li>
      </div>
    </dx-accordion>
  </ng-template>
</div>

<div *ngIf="selectedProduct?.eduLicenseDescription" class="license"> <i class="dx-icon-info label--red" >
</i> {{selectedProduct?.eduLicenseDescription}}
</div>
