.license {
  display: flex;
  padding: 15px;
  padding-left: 0px;
}

.product-description {
  margin-top: 50px;
  font-size: 16px;
  line-height:30px
}

.details-accordions-container {
  padding-top: 30px; display: flex
}

.label--red {
  color: #b90707;
}
