.content {
  font-size: 50px;
  color: #000066;
  padding: 40px 20px 0px 20px;
  text-align: center;
  font-width: 800;
  line-height: 30px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error-modal {
  padding: 50px;
  background-color: aliceblue;
  border-radius:30px;
}

.button--return {
  color: white;
  background-color: #d42027;
}
.disclaimer {
  font-size: 15px;
}

