.dx-datagrid {
  cursor: pointer;
}
.dx-datagrid-borders > .dx-datagrid-headers {
  color:white;
  background-color: #d42027;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.dx-datagrid-borders > .dx-datagrid-total-footer,
.dx-datagrid-borders > .dx-datagrid-rowsview {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

