.product-detail--title {
  display: flex;
  justify-content: space-between;
  text-transform: lowercase;
  font-size:40px;
  font-weight: bold;
}

.product-name {
  margin-bottom: 10px;
}

.product-detail--description {
  margin-bottom: 10px;
  font-size:12px;
  font-weight: bold;
  text-transform: uppercase;
}

.product-detail--price {
  background-color: rgba(255, 255, 255, 0.65);
  font-size: 20px;
  color: black;
}

.separate-line {
  margin-top: 30px;
  width: 30%;
  border: 2px solid;
  border-color: #d42027;
}
